.post {
    box-shadow: rgba(0, 0 ,0 ,0.24 ) 0px 3px 8px;
    padding: 1rem;
    width: 350px;
    border-radius: 0.5rem;
}

.actions {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.actions > button {
    background-color: blueviolet;
    color: white;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    border: none;

}