body {
  margin: 0;
  height: 100vh;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#root {
  height: 100%;
}
.dark {
  background-color: grey;
  color: red;
  height: 100%;
}
.light {
  background-color: aliceblue;
  color: black;
  height: 100%;
}
